body {
    background-color: #000;
    margin: 0;
}

header {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/header-bg.jpeg');
    background-size: cover; /* Добавляем для корректного отображения */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
}
.top-bar {
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
    font-size: 3vh;
    color: whitesmoke;
}
.top-bar span {
    margin-right: 10px;
}
.nav-container {
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-between;
    padding-top: 10px; /* Добавляем отступ сверху */
}
.nav-container a {
    font-size: 3vh;
}
.nav-container .site-name {
    font-size: 5vh;
}
.nav-container .site-name .highlight{
    color:#ff00ff
}

.nav-container .logo img {
    height: 40px;
    margin-right: 10px;
    margin-bottom: 0;
    vertical-align: middle; /* Для выравнивания с текстом */
}

.nav-container .logo, .nav-container nav {
    align-items: center;
    display: flex;
    margin-top: 25px; /* Небольшой отступ сверху для всех элементов */
}
.nav-container .logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 10px;
    margin-bottom: 0; /* Исправляем на 0 вместо 20px для согласованности */
}
.site-name {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke
}
nav {
    margin-right: 8vw;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
}
nav ul li {
    margin: 0 45px;
    position: relative;
}
nav ul li a {
    color: whitesmoke; /* Цвет по умолчанию белый */
    text-decoration: none;
    font-weight: bold;
    user-select: none; /* Отключаем выделение ссылки */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Добавляем легкую тень */
    outline: none; /* Убираем синюю обводку */
}

nav ul li a:hover {
    color: #ff00ff; /* Цвет при наведении розовый */
}

nav ul li a:focus {
    outline: none; /* Убираем синюю обводку при фокусе */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Размещаем под элементом */
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-menu a {
    display: block;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
.dropdown-menu a:hover {
    background-color: #444;
}

/* Показываем меню при наведении */
.dropdown:hover .dropdown-menu {
    display: block;
}
